.header {
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(231, 231, 231);
}

.text-primary {
    margin-left: 10px;
    margin-right: 10px;
}

.text-primary > .se-select {
    margin-bottom: 0px;
}

#buttons {
    float: right;
}

.acecontainer {
    padding: 2px;
}